extends layout

block content
  div.container
    form(class="form-hello" method="POST" action="/")
      label(for="name") Email address:
      input(class="name-input" type="text" name="username" placeholder="Your name here!")
      button(class="button-form" type="submit") Enviar